<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Welcome Homepage</h1>
        <h2>Kumpanart Promwichien 6410742305</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="category">Category</a></li>
                <li><a href="product">Product</a></li>
                <li><a href="checkout">Checkout</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>